# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\moham\Desktop\Uni Corte\S2\Tests\Junit5Examples-master\Junit5Examples-master\JUnit5Examples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
